html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('./Level/Battleground2/Bright/Battleground2.png') no-repeat center center;
    background-size: cover; 
}

.player{
    display: none;
}
